PORT=#5000
SECRET_KEY= # can be generated using python -c "import secrets; print(secrets.token_hex(32))"
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
JWT_SECRET_KEY=# can be generated using python -c "import secrets; print(secrets.token_hex(32))"
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=noreply@example.com

MYSQL_USER= sfcollab
MYSQL_PASSWORD=sfcollab_pass
MYSQL_DATABASE=defaultdb
MYSQL_ROOT_PASSWORD=sfcollab_pass

DATABASE_URL=mysql+pymysql://sfcollab:sfcollab_pass@db:3306/defaultdb

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


LOG_LEVEL=INFO
LOG_FILE=app.log
FLASK_ENV=development
BRAND_NAME=SFCollab
SUPPORT_EMAIL=sfcollab333@gmail.com
FRONTEND_URL=http://localhost:5173